include MANIFEST.in
include setup.py

graft noisily

global-exclude *.c
global-exclude *.so
global-exclude *.pyc
global-exclude *.pyd

include noise-c/src/*.rs
include noise-c/*.rs
include noise-c/Cargo.toml
